@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');


nav{
    background-color:#632d69;
}

a{
    color: #eeeeee;
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
