
div.row{
    margin: auto 20px;
}

img{
    max-height: 500px;
    object-fit: cover;
    border-radius: 150px;
}


@media (min-width:768px){
    button{
        padding:8px 10px;
        min-width: 120px ;
    }
    
    .text_wrapper{
        margin-left: 2vw;
        padding-left: 2vw;
        border-left: 3px solid #E5E9E7; 
    }
}