input.ng-invalid.ng-touched{
    border-bottom: 2px solid tomato;
}

.div_wrapper{
    margin-top: 10px;
}

.error{
    color: tomato;
    font-size: 11px;
    margin: 0px;
}

.pre-error{
    color: tomato;
    font-size: 11px;
    margin: 0px;
    display: none;
}
